__pycache__
__MACOSX
*.npy
*.sdf
*/.github
*.egg-info

models_chemprop/*-checkpoint
generated_molecules/*_MAX.csv
generated_molecules/*_MEAN.csv
generated_molecules/*/*_MAX.csv
generated_molecules/*/*_MEAN.csv

models_cMolGPT/*.h5_*
*.png